.word-form {
    margin: -4px 0.5em 0px 0px;
    font-size: 120%;
    font-weight: bold;
    color: #4d91b3;
    line-height: 1.6;
    display: inline-block;
}

.tags {
    display: inline-block;
}

.word-infos {
    margin: 5px 0px 0px 0px;
}

.word-info {
    margin: 0px;
    line-height: 1.6;
    text-align: justify;
    white-space: pre-line;
}

.bordered-info {
    bottom: 0.1em;
    margin: 0em 0.5em 0em 0em;
    padding: 0em 0.2em;
    font-size: 70%;
    border: 1px #4d91b3 solid;
    border-radius: 3px;
    position: relative;
}

.nonbordered-info {
    font-size: 70%;
    color: #4d91b3;
    display: block;
}