.share {
  height: 1.5em;
  width: 1.5em;
  margin-top: 0.3em;
  margin-bottom: -0.5em;
  will-change: filter;
  transition: filter 300ms;
}

.share:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}